* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto',
        sans-serif;
}

main {
    display: flex;
    width: 100%;
}

.menu {
    width: 20%;
    background-color: #222222;
}

.nav {
    height: 100vh;
    position: sticky;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}

.title {
    color: white;
    letter-spacing: 5px;
    font-size: 2rem;
}

.menu-items span {
    width: 70%;
    display: block;
    list-style: none;
    color: white;
    border-bottom: 1px solid rgb(41, 41, 41);
    margin: 20px auto;
    padding: 0px 20px;
    cursor: pointer;
    text-align: start;
}

.body {
    width: 80%;
    background-color: #111111;
    display: flex;
}

/* home section */
#home {
    box-sizing: border-box;
    margin: 20px auto;
    display: flex;
    width: 80%;
}

.primary {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondary {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secondary img {
    width: 50%;
    border-radius: 10%;
    border: 1px solid gray;
}

/* about section */
#about {
    padding: 20px;
}

.profile {
    width: 50%;
}

.skill {
    width: 50%;
}

.profile-table {
    color: white;
}

.profile-table tr td {
    padding: 10px;
}

.skill-logo {
    width: 100%;
}

.skill-logo>span {
    display: inline-block;
    text-align: center;
    color: white;
}

.skill-logo>span>img {
    width: 50px;
    height: 50px;
    margin: 20px;
}

.experience {
    width: 50%;
}

.timeline {
    width: 80%;
    margin: 20px auto;
    border-left: 1px solid gray;
    box-sizing: border-box;
}

.timeline-content {
    margin-left: 20px;
    margin-bottom: 40px;
    padding: 20px 20px;
    color: white;
    position: relative;
    background-color: #222222;
    border-radius: 0px 20px 20px 20px;
}

.timeline-content:last-child {
    margin-bottom: 0px;
}

.timeline-content::before {
    content: ' ';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    top: 0px;
    left: -20px;
    transform: translate(-50%, -50%);
}

.education {
    width: 50%;
}

@media (max-width: 762px) {
    .body {
        width: 100%;
    }

    .menu {
        display: none;
    }

    .profile {
        width: 100%;
    }

    .skill {
        width: 100%;
        margin-top: 20px;
    }

    .education {
        width: 100%;
    }

    .experience {
        width: 100%;
    }
}